html {
  font-family: 'Courier New', Courier, monospace;
}

body {
  /* de body is zelf een flex-container en centreert zijn kinderen op de dwarsas */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header,
main {
  width: 100%;
  max-width: 1000px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: right;
  align-items: center;
}

nav li {
  margin: 0.5rem;
  padding: 1rem;
}

main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-image: url("../images/bg.webp");
  background-color: lightgrey;
  padding: 10px;
}

.item {
  flex: 1 1 50%; /* Each child will take up 50% of the parent container's width */
  padding: 10px;
  margin: 0; /* de standaardmarge van een p zou de flex-items uit elkaar duwen */
}

.item:nth-child(3n) {
  flex: 1 1 100%;
  background-color: rgba(139, 211, 146, 0.5);
  padding: 2rem;
}

.item:nth-child(3n):first-letter {
  font-size: 200%;
}

a {
  text-decoration: none;
  font-weight: 700;
  text-transform:lowercase;
  color:grey;
  padding: 1rem;
}