h1 {
    font-size: 2rem;
    font-weight: bold;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    /* onzichtbare rand zorgt dat content niet beweegt door hover-effect hieronder */
    border: 2px solid rgba(0, 0, 0, 0);
}

#button1:hover {
    background-color: #2980b9;
    color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border: 2px solid gray;
}

#button2:active {
    transform: translateY(4px);
    background-color: #1e679b;
}

#button3:focus {
    outline: 5px solid #34d0db;
    /* voeg hier eventueel andere focus-stijlen toe, zoals een box-shadow */
}