body {
    font-family: Arial, Helvetica, sans-serif;
}

#buttonGrid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: .5rem;
}

.disabled {
    background-color: red;
    color: white;
}

.found {
    background-color: green;
    color: white;
}