body {
    font-family: sans-serif;
}

table {
    border: 1px solid black;
    /* normalize laat de cellen los van elkaar staan, dus plakken we ze zelf samen */
    border-collapse: collapse;
}

thead tr th,
tbody tr th {
    background-color: black;
    color: white;
}

td,
th {
    text-align: center;
    padding: 10px;
}

.red {
    color: white;
    background-color: red;
}

.blue {
    color: white;
    background-color: blue;
}

.purple {
    color: white;
    background-color: purple;
}

.pink {
    color: black;
    background-color: pink;
}
