html {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:grey;
}

body {
  /* de body is zelf een flex-container en centreert zijn kinderen op de dwarsas */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header,
main,
footer {
  width: 100%;
  max-width: 1000px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

nav li {
  margin: 0.5rem;
  padding: 1rem;
}

main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
  background-image: url("../images/bg.png");
}

figure {
  margin: 0; /* een figure heeft standaard een marge van 0 40px */
  /* het kaartenraster-patroon: minstens 300px, daarna de rest verdelen */
  flex: 1 1 300px;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  text-transform:lowercase;
  margin: 1rem;
  font-weight: 700;
}

footer {
  background-color: white;
  padding: 2rem;
  text-align: center;
}